@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    box-sizing: inherit;
}

:root{
    --grayPrincipal : #1652F0;
    --hoverEnlace : #DAD6D6; 
    --blackTexto: black;
    --botonPrincipal : #00A55D;
    --cardServices : #E9F6FF;
    --footer : #113355;
    --serviceCard : rgb(192, 225, 240);
    /*Nuevos colores*/
    --colorCrimson : #F63636;
    --whiteTexto : white;
    /*Letras*/
    --robotoPrincipal : "Roboto", sans-serif;

    /*Color rojo*/
    --redFuerte : #dc143c;
    --redMedio : #e95159;
    --redBajo : #f37778;
    --redOpaco : #fa9b98;

    /*Color Blue*/
    --blueFuerte : #0079f0;
    --blueMediano : #5c8df3;
    --blueBajo : #86a3f6;
    --blueOpaco : #a7b9f9;
    --blueHover : #3488ff;
}

img{
    width: 100%;
}

/*Estilos Generales*/
.wrapper{
    padding: 0 20px;
}
/*Menu nav*/
.menu{
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, .9);
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu.stycky{
    background-color: var(--redFuerte);
}

.menu.stycky .logo{
    padding: 20px 0;
}

.logo{
    transition: 0.3s ease-in;
}

.logo a{
    font-family: var(--robotoPrincipal);
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    color: var(--whiteTexto);
}

.menu-content ul li{
    display: inline-block;
}

.menu-content ul li a{
    font-family: var(--robotoPrincipal);
    font-weight: 500;
    display: block;
    text-decoration: none;
    color: var(--whiteTexto);
    padding: 10px;
    letter-spacing: 2px;
}

.menu-btn{
    display: none;
    z-index: 999;
    color: var(--whiteTexto);
}

.menu-btn i{
    padding: 10px 0;
    font-size: 20px;
}

/*Info-principal y banner*/
.banner{
    font-family: var(--robotoPrincipal);
    display: flex;
    align-items: center;
    background-image: url("../img/principal.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    min-height: 500px;
    height: 100vh;
}

.presentacion{
    max-width: 800px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .7);
}

.presentacion h1{
    text-align: center;
    letter-spacing: 1px;
    padding: 10px;
    color: white;
}

.presentacion p{
    color: white;
    letter-spacing: 1px;
    padding: 10px 0;
}

.presentacion button{
    font-family: var(--robotoPrincipal);
    font-size: 16px;
    padding: 10px 5px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    margin-bottom: 10px;
    color: var(--whiteTexto);
    outline: none;
    background-color: var(--redMedio);
    border: 2px solid var(--redMedio);
    border-radius: 8px;
}

.presentacion button:hover{
    background: none;
}
/*Seccion de autoservicio*/

.card-info{
    font-family: var(--robotoPrincipal);
    margin: 40px 0;
}

.card-info h2{
    text-align: center;
    margin: 20px 0;
}

.card-seccion{
    display: grid;
    row-gap: 20px;
}

.card{
    padding: 15px;
    border: 1px solid var(--blueOpaco);
    color: var(--blackTexto);
    border-radius: 10px;
}

.card h2{
   font-weight: 500;
   letter-spacing: 1px;
   text-align: center;
   padding-bottom: 15px;
}

.card p{
    letter-spacing: 1px;
}

.card a{
    letter-spacing: 1px;
    font-weight: 500;
    padding: 10px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 200px;
    color: var(--whiteTexto);
    margin: 10px 0;
    background-color: var(--blueHover);
    border-radius: 6px;
    transition: all .3s ease;
}

.card a:hover{
    background-color: var(--blueMediano);
    color: var(--blackTexto);
}


/*estilos card services*/
.services{
    background-color: #111;
    padding-bottom: 40px;
    font-family: var(--robotoPrincipal);
}

.services h2{
    letter-spacing: 1px;
    padding: 20px 0;
    color: white;
    text-align: center;
}

.card-services{
    text-align: center;
    margin-bottom: 30px;
    background-color: #222;
    padding: 20px;
}

.card-services h3{
    letter-spacing: 1px;
    padding: 10px 0;
    color: white;
}

.card-services a{
    text-decoration: none;
    color: #0A46E4;
}

.card-services .card-info-services p{
    letter-spacing: 1px;
    padding: 10px 0;
    color: white;
}

.card-services .card-imagen-services .fa-video{
    /*color: blue;*/
    color: var(--redFuerte);
    font-size: 36px;
}

.card-services .card-imagen-services .fa-tools{
    /*color: #E39620;*/
    color: var(--redFuerte);
    font-size: 36px;
}

.card-services .card-imagen-services .fa-network-wired{
    /*color: #C15216;*/
    color: var(--redFuerte);
    font-size: 36px;
}

.card-services .card-imagen-services .fa-memory{
    /*color: green;*/
    color: var(--redFuerte);
    font-size: 36px;
}

/*Carousel trabajadores*/
.trabajadores{
    font-family: var(--robotoPrincipal);
    height: 500px;
    margin: 40px 0;
}

.trabajadores h2{
    letter-spacing: 1px;
    padding: 20px 0;
    text-align: center;
}
.swiper-container {
    width: 100%;
    height: 400px;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next{
    display: none!important;
}

.swiper-button-prev{
    display: none!important;
}

.trabajador{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.trabajador .imagen img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #BFBFBF;
}

.trabajador .info-trabajador .team-nombre{
    margin: 20px 0;
    font-weight: 500;
    letter-spacing: 1px;
}

.trabajador .info-trabajador .team-nombre span{
    margin-left: 5px;
    font-weight: 700;
}

.trabajador .info-trabajador .info-personal{
    padding: 15px 0;
    text-align: center;
    letter-spacing: 1px;
    text-align: justify;
}

/*Estilos card reparar*/

.reparar{
    font-family: var(--robotoPrincipal);
}

.reparar .title{
    text-align: center;
    position: relative;
    padding: 20px 0;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.reparar .title::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 4px;
    bottom: 0;
    left: 50%;
    background-color: var(--blackTexto);
    transform: translateX(-50%);
}

.reparar .title::after{
    content: "Conócenos";
    position: absolute;
    padding: 0 5px;
    bottom: -7px;
    left: 50%;
    font-size: 16px;
    background-color: white;
    transform: translateX(-50%);
}

.card-reparar-info{
    padding: 20px 0;
}

.card-reparar-info h2{
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    letter-spacing: 1px;
}   

.card-reparar-info p{
    text-align: justify;
    letter-spacing: 1px;
    padding: 10px 0;
}

.card-reparar-info ol{
    padding-left: 40px;
    letter-spacing: 1px;

}
/*Formulario contactanos*/

.contactanos{
    font-family: var(--robotoPrincipal);
    margin: 40px 0;
}

.contactanos h2{
    padding: 20px;
    text-align: center;
}

.items-form{
    display: flex;
    flex-direction: column;
}

.items-form label{
    letter-spacing: 1px;
    font-weight: 500;
    padding: 10px 0 10px 0;
}

.items-form input[type="text"], input[type="email"], textarea{
    outline: none;
    appearance: none;
    border: 1px solid var(--hoverEnlace);
    padding: 15px;
    border-radius: 10px;
}

.items-form input[type="text"]::placeholder, input[type="email"]::placeholder, textarea::placeholder{
    font-family: var(--robotoPrincipal);
    letter-spacing: 1px;
    font-weight: 500;
    color: #B4B6B4;
}

.items-form textarea{
    margin-bottom: 20px;
    resize: none;
}

form input[type="submit"]{
    width: 100%;
    font-family: var(--robotoPrincipal);
    letter-spacing: 1px;
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
    border: none;
    outline: none;
    color: var(--whiteTexto);
    background-color: var(--blueFuerte);
    border-radius: 16px;
    margin-bottom: 20px;
}

form input[type="submit"]:hover{
    background: var(--blueHover);
    color: var(--blackTexto);
}

/*Terminos y condiciones*/
.terminos{
    font-family: var(--robotoPrincipal);
}

.terminos h2{
    text-align: center;
    font-size: 24px;
    padding: 20px 0;
}

.terminos-condiciones {
    margin-top: 20px;
}

.terminos-condiciones .terminos{
    letter-spacing: 1px;
    font-weight: 500;
    padding: 10px 0;
    text-align: center;
}

.terminos-condiciones .informacion-lega{
    text-align: justify;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.terminos-iconos{
    padding: 20px 0;
}

.terminos-condiciones .terminos-iconos div{
    display: flex;
    align-items: center;
}

.terminos-condiciones .terminos-iconos div i{
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}

.terminos-condiciones .terminos-iconos div p{
    letter-spacing: 1px;
}

.terminos .terminos-iconos .fa-stopwatch{
    color: var(--redFuerte);
}

.terminos .terminos-iconos .fa-envelope-open-text{
    color: #006CAA;
}

.terminos .terminos-iconos .fa-user-alt{
    color: var(--redMedio);
}


/*Estilos al footer*/
.footer{
    font-family: var(--robotoPrincipal);
    background-color: var(--footer);
    color: var(--whiteTexto);
}

.contenido-footer{
    text-align: center;
    padding: 20px 0;
}

details summary{
    color: #DEE1DE;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px;
    outline: none;
    border: none;
}

details ul{
    list-style: none;
    color: #D3D5D3;
    letter-spacing: 1px;
}

details ul li{
    padding: 5px;
}

.footer p{
    padding: 20px;
    color: #DEE1DE;
}

/*Sociales footer*/
.sociales{
    margin-top: 40px;
    text-align: center;
}

.sociales i{
    font-size: 30px;
    padding: 5px;
}

.fa-facebook-square{ color: #139EF8;}
.fa-instagram{ color: var(--hoverEnlace); }
.fa-youtube{ color: var(--hoverEnlace); }
.fa-whatsapp-square{ color: #00E676; }

.footer .contenedor p{
    margin-top: 10px;
    text-align: center;
}

/*Medias query screen*/
@media screen and (max-width: 867px){
    .menu-btn{
        display: block;
    }

    .info-principal{
        height: 600px;
    }

    .img-presentacion{
        margin-bottom: 20px;
    }

    .logo{
       /* padding: 20px;*/
    }

    .menu-btn  i.active::before{
        content: "\f410";
    }

    .menu-content ul{
        position: fixed;
        left: -100%;
        top: 0;
        background-color: var(--blackTexto);
        height: 100vh;
        width: 100%;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: all .3s ease;
    }

    .menu-content.active ul{
        left: 0;
    }
   
}

@media screen and (max-width: 440px){
    .trabajadores{
        height: 550px;
    }

    .swiper-container{
        height: 500px;
    }
}

@media screen and (min-width: 440px){
    /*Estilos info principa*/
    .info-principal .img-presentacion img{
        width: 250px;
    }

    /*Estilso informacion*/

    .card-seccion{
        column-gap: 10px;
    }

    .card-seccion .card h2{
        /*font-size: 2em;*/
        text-align: center;
    }

    .card-seccion .card p{
       /* font-size: 1.3em;*/
    }
}


@media screen and (min-width: 768px){

    /*Barra principal*/
    .logo{
        font-size: 18px;
        padding: 15px 0;
    }

    .menu ul li a{
        padding: 15px 10px;
        font-size: 18px;
    }

    /*Informacion*/
    .presentacion h1{
        font-size: 24px;
    }

    .presentacion p{
        font-size: 18px;
    }

    .presentacion button{
        font-size: 18px;
    }
    /*Carta tipo de asistencia*/
    .card p, .card a{
        font-size: 18px;
    }

    /*Services*/
    .card-info-services h3{
        font-size: 19px;
    }

    .card-info-services p{
        font-size: 18px;
    }

    .services-items .card-services .card-imagen-services i{
        font-size: 50px;
    }

    /*Trabajadores*/
    .info-trabajador .team-nombre{
        font-size: 18px;
    }

    .info-trabajador .info-personal{
        font-size: 18px;
    }

    /*vision*/

    .card-reparar-info p, .card-reparar-info ol{
        font-size: 18px;
    }

    .card-reparar-info ol li{
        padding: 5px;
    }

    /*Contactanos*/
    .flex-formulario form label,  .flex-formulario form input[type="submit"]{
        font-size: 18px;
    }

    .flex-formulario .terminos-condiciones{
        font-size: 18px;
    }

    /*Terminos*/
    .terminos{
        font-size: 18px;
    }

    /*Footer*/
    .footer{
        font-size: 18px;
    }

    /**/
    /*Estilos en mision y vision*/
    .card-info-reparar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-info-reparar .card-reparar-info{
        padding: 15px;
    }

    .card-reparar-imagen{
        flex: 1;
        order: 2;
    }

    .card-reparar-imagen2{
        flex: 1;
    }

    .card-reparar-info{
        flex: 1;
    }
    /*Estilos en services*/
    .services-items{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        column-gap: 10px;
    }

    /*Estilos carousel empleados*/
    .carousel-empleados{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    /*Estilos footer*/

    .contenido-footer{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        column-gap: 10px;
    }
    .flex-formulario{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form{
        flex: 1;
    }
    
    .img-form{
        flex: 1;
        margin-left: 40px;
    }

    .terminos-condiciones .terminos-iconos div{
        margin-left: 30px;
    }

    /*Mostrando nav pre anterior*/
    .swiper-button-next{
        display: block!important;
    }

    .swiper-button-prev{
        display: block!important;
    }
}

@media screen and (min-width: 860px){
    .card-seccion{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contenedor{
        max-width: 1200px;
        margin: auto;
    }
    .principal-article{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .presentacion{
        flex: 1;
    }
    .img-presentacion{
        flex-basis: 30%;
    }

    .card-services{
        display: flex;
        column-gap: 20px;
        align-items: center;
    }
}

@media screen and (min-width: 1024px){
    .presentacion{
        margin-left: -200px;
    }
}