@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');


html{
    box-sizing: inherit;
}

*{
    box-sizing: border-box;
}

.services-general, .contenido-mantenimiento, 
.red-services{
    padding-top: 100px;
    margin-bottom: 40px;
}

img{
    width: 100%;
}

.services-general h2,
.red-services .title{
    text-align: center;
    padding: 10px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}

.services-general .flex-services{
    display: flex;
    justify-content: center;
    align-self: center;
}

.flex-services .column{
    flex: 1;
}

.flex-services .right{
    padding: 10px;
}

.flex-services .right h3{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.flex-services .right p{
    padding: 15px 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.flex-services .right ul{
    margin-left: 20px;
}

.flex-services .right ul li{
    padding: 5px 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.flex-services .left{
    padding: 10px;
}

/* Inicio servicios incluidos */

.product-camaras{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
}

.services-ofrecidos{
    border: 6px solid #eee;
}

.services-ofrecidos .right{
    padding: 10px;
}

.services-ofrecidos .right h3{
    padding: 10px 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.services-ofrecidos .right p{
    padding: 10px 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.services-ofrecidos .right button{
    border: 2px solid;
    padding: 10px;
    color: white;
    font-weight: 700;
    background-color: black;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.services-ofrecidos .right button:hover{
    background: none;
    color: black;
}





/* Estilos contenido page servicios mantenimiento laptop*/
.contenido-mantenimiento h2{
    text-align: center;
    padding: 10px 0;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
}

.contenido-mantenimiento .grid-services-compus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
}

.grid-services-compus .child-grid{
    text-align: center;
    width: 50%;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.grid-services-compus .child-grid .caja{
    margin: 0 auto;
    width: 300px;
}

.grid-services-compus .child-grid h3{
    font-size: 18px;
    padding: 10px 0;
}

.grid-services-compus .child-grid p{
    padding: 15px 0;
    letter-spacing: 1px;
    color: rgba(167, 167, 167);
}

.grid-services-compus .child-grid i{
    padding: 10px 0;
    font-size: 50px;
}

/*Servicios para empresas*/

.services-empresa{
    background-color: black;
    color: white;
}

.empresa-contenido{
    display: flex;
    padding: 40px 0;
    font-family: "Roboto", sans-serif;
}

.empresa-contenido .column{
    flex: 1;
    padding: 10px;
}

.empresa-contenido .info h2{
    padding: 10px 0px;
}

.empresa-contenido .info h3{
    padding: 10px 0px;
    font-size: 34px;
}

.empresa-contenido .info p{
    letter-spacing: 1px;
    padding: 10px 0px;
    font-size: 18px;
}

.empresa-contenido .info button{
    border: 2px solid crimson;
    border-radius: 6px;
    background-color: crimson;
    padding: 20px;
    color: white;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.empresa-contenido .info button:hover{
    background: none;
}

/* Diseño armado de pc*/

.arma-pc{
    padding: 0px 0 40px 0;
}

.arma-pc h2{
    text-align: center;
    padding: 40px 0;
    font-family: "Roboto", sans-serif;
}

.flex-arma{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.flex-arma .flex-uno, .flex-arma .flex-tres{
    width: calc( 25% );
}

/*Imagen flex dos*/
.flex-arma .flex-dos{
    width: calc(50%);
    text-align: center;
}

.flex-dos img{
    width: 320px;
    height: 270px;
    object-fit: cover;
}

/*Viñetas flex uno y tres*/
.flex-uno .info-pc, .flex-tres .info-pc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.flex-uno{
    text-align: right;
}

.flex-tres .info-pc .invertir-text{
    order: 2;
}

.flex-tres .info-pc .invertir-icon{
    order: 1;
}

.info-pc:last-of-type{
    margin-bottom: 20px;
}

.info-pc div a{
    font-size: 18px;
    text-decoration: none;
    color: blue;
    display: block;
    padding: 5px 0;
}

.info-pc div p{
    letter-spacing: 1px;
    padding: 5px 0;
}

.info-pc div a i{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 34px;
}

/*Page redes*/
.red-services .red-principal{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.red-principal .red-img img{
    width: 100%;
}

.red-principal .red-info{
    padding-left: 20px;
    font-family: "Roboto", sans-serif;
}

.red-principal .red-info h2{
    padding: 10px 0;
}

.red-principal .red-info p{
    padding: 10px 0;
    font-size: 18px;
}


.red-principal .red-info div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red-principal .red-info div a{
    display: block;
    padding: 5px 0;
    width: 250px;
    color: blue;
    cursor: pointer;
}

.red-principal .red-info div button{
    padding: 10px;
    border: 2px solid blue;
    color: white;
    background-color: blue;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.red-principal .red-info div button:hover{
    background: none;
    color: black;
}

/*---*/
.red-cuerpo{
    margin-bottom: 40px;
}

.red-cuerpo .red-cuerpo-principal{
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 10px 0;
    margin-bottom: 20px;
}

.red-cuerpo .red-cuerpo-principal h3{
    padding: 10px 0;
    font-size: 18px;
}

.red-cuerpo .red-cuerpo-principal p{
    font-size: 18px;
    padding: 10px;
}

.red-cuerpo .red-cuerpo-principal button{
    padding: 10px;
    border: 2px solid blue;
    background: blue;
    color: white;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.red-cuerpo .red-cuerpo-principal button:hover{
    background: none;
    color: black;
}

.red-cuerpo .red-cuerpo-inferior{
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}

.red-cuerpo-inferior .inferior-cuerpo .info-inferior p{
    padding: 5px;
}

.red-cuerpo-inferior .inferior-cuerpo i{
    font-size: 40px;
    padding: 15px 0;
    color: blue;
}


.red-cuerpo .red-cuerpo-inferior .inferior-cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

/**/
.red-card-flex .card-items-flex{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.card-items-flex .red-card-left{
    flex: 45%;
}

.card-items-flex .card-img{
    flex: 55%;
}

.card-items-flex .left{
    order: 1;
}

.card-items-flex .red-card-left{
    padding: 20px;
}

.card-items-flex .red-card-left h3{
    padding-bottom: 20px;
}

.card-items-flex .red-card-left p{
    padding: 10px 0;
}

.card-items-flex .red-card-left button{
    background: rgba(255,255,255, .1);
    border: 2px solid blue;
    color: blue;
    font-size: 18px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}

.card-items-flex .red-card-left button:hover{
    background: blue;
    color: white;
}

/*Proyectos principal*/
.banner-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url("../img/tecnologia-laptop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.banner-principal .texto-informativo{
    border-radius: 16px;
    color: white;
    max-width: 800px;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    background: rgba(0, 0,0, .7);
}

.banner-principal .texto-informativo h2{
    padding: 10px 0;
    text-align: center;
    font-size: 32px;
}

.banner-principal .texto-informativo p{
    padding: 10px 0;
    font-size: 18px;
}

.banner-principal .texto-informativo button{
    padding: 10px;
    border: 4px solid crimson;
    background-color: crimson;
    color: white;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
}

.banner-principal .texto-informativo button:hover{
    background: none;
}


/*   */

.flex-proyectos{
    padding: 60px 0;
    display: flex;
    align-items: center;
    align-self: center;
    font-family: "Roboto", sans-serif;
}

.flex-proyectos .left{
    text-align: center;
    flex: 1;
}

.flex-proyectos .left .titulo{
    font-size: 24px;
    padding: 10px 0;
}

.flex-proyectos .left .info{
    font-size: 18px;
    padding: 10px 0;
}

.flex-proyectos .left .lema{
    font-size: 18px;
    color: blue;
    padding: 10px 0;
}

.flex-proyectos .right{
    flex: 1;
}

/* con-proyectos */

.con-proyectos{
    background: black;
    color: white;
}

.con-proyectos .left{
    order: 2;
}

.con-proyectos .right{
    order: 1;
}

@media screen and (max-width: 900px) {

    .red-services .red-principal{
        flex-direction: column;
    }

    .red-principal .red-info{
        padding: 0;
    }

}

@media screen and (max-width: 970px){

    .services-general .flex-services{
        flex-direction: column;
    }

    .flex-services .left{
        text-align: center;
    }

    .flex-services .left img{
        width: 400px;
        height: 400px;
        object-fit: contain;
    }
    /**/
    .flex-services .right h3{
        font-size: 16px;
    }
    .flex-services .right p{
        font-size: 16px;
    }
    .flex-services .right ul li{
        font-size: 16px;
    }
    /*Estilos card*/
    .services-ofrecidos .right h3{
        font-size: 16px;
    }

    .services-ofrecidos .right p{
        font-size: 16px;
    }

    .services-ofrecidos .right button{
        font-size: 16px;
    }

    /*Tamño letras seccion reparar*/
    .grid-services-compus .child-grid{
        font-size: 16px;
    }

    .grid-services-compus .child-grid h3{
        font-size: 16px;
    }

    /*Estilos para empresas reparacion*/
    .empresa-contenido .info h2{
        font-size: 18px;
    }
    .empresa-contenido .info h3{
        font-size: 28px;
    }
    .empresa-contenido .info p{
        font-size: 16px;
    }
    .empresa-contenido .info button{
        font-size: 16px;
    }
    /*Estilos arma pc*/
    .flex-arma{
        font-size: 16px;
    }
    .info-pc div a{
        font-size: 16px;
    }

    /*Estilos page red*/

    .red-principal .red-info p{
        font-size: 16px;
    }

    .red-principal .red-info div button{
        font-size: 16px;
    }

    .red-principal .red-info div a{
        font-size: 14px;
    }

    .red-cuerpo .red-cuerpo-principal h3{
        font-size: 16px;
    }

    .red-cuerpo .red-cuerpo-principal p{
        font-size: 16px;
    }

    .red-cuerpo .red-cuerpo-principal button{
        font-size: 16px;
    }

    .red-cuerpo-inferior .inferior-cuerpo .info-inferior p{
        font-size: 14px;
    }

    /*Proyectos*/
    .flex-proyectos{
        flex-direction: column;
    }

    .flex-proyectos .left .titulo{
        font-size: 20px;
    }

    .flex-proyectos .left .info{
        font-size: 16px;
    }
        
    .flex-proyectos .left .lema{
        font-size: 16px;
    }
    
}

@media screen and (max-width: 740px){
    /*Cuadro de informacion principal*/
    .grid-services-compus .child-grid{
        width: 100%;
    }
    /*Servicios para empresas*/
    .empresa-contenido{
        flex-direction: column;
    }

    .grid-services-compus .child-grid .caja{
        width: 100%;
    }

    /*Ultima section*/
    .flex-arma .flex-uno, .flex-arma .flex-tres{
        margin: 0 auto;
        width: 70%;
    }
    .flex-arma .flex-dos{
        width: 100%;
    }
    .flex-dos img{
        width: 100%;
        height: 100%;
    }


    /* redes section */

    .red-principal .red-info div{
        flex-direction: column;
        align-items: flex-start;
    }

    .red-principal .red-info div a{
        width: 100%;
        padding: 20px 0;
    }

    .red-cuerpo .red-cuerpo-inferior{
        flex-direction: column;
        row-gap: 20px;
    }

    .red-cuerpo .red-cuerpo-inferior .inferior-cuerpo{
        flex-direction: column;
    }
}

@media screen and (max-width: 420px){
    .product-camaras{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        column-gap: 0;
    }

    .flex-services .left img{
        width: 200px;
        height: 200px;
        object-fit: contain;
    }

    /*Noti con imagen inmedio*/
    .flex-arma .flex-uno, .flex-arma .flex-tres{
        width: 100%;
    }
}
